/**************************************************************************

supplier.css voor Politie (Nederland) 

datum		wijziging											wie
----------	--------------------------------------------------------
11-05-2009	Opmaak gesplitst om zoveel mogelijk 
			enkelvoudige rules te hebben						jv
***************************************************************************/

/* - */


/*************************************************************
 * menu
 *************************************************************/

/* - */

/*************************************************************
 * login/ww-vergeten
 *************************************************************/
div#loginDigiD {
	height: 200px;
}
div#loginPassword {
	height: 200px;
}
div#loginDigiD .col2 img {
	padding-top: 0px;
	padding-left: 0px;
}
div#loginPassword {
	display: none;
}
div#loginToggleDigiD {
	display: none;
}
div#loginHelp {
	margin-top: 20px;
}

#korpsselectie {
	display: none;
}
#korpsselectie td {
	vertical-align: middle;
}

/*************************************************************
 * menu
 *************************************************************/

/* - */

/*************************************************************
 * content
 *************************************************************/

th.col1, .col1 {
	width: 200px;
}
th.col2, col2{
	width: 350px;
}


/**********************************************************/
/* tabbladen
/**********************************************************/

/* - */

/*****************************************************
 Zoekfunctie
 *****************************************************/

/* - */

/*************************************************************
 * HOME pagina
 *************************************************************/

div#homeKTO {
	border: 3px solid orange;
	padding: 10px;
	margin-bottom: 5px;	
}

/*************************************************************
 * poll
 *************************************************************/

/* - */

/*************************************************************
 * BVS
 *************************************************************/
#bvs .supplier_search {
    display : none;
}

div#bvs div#search {
    position : relative;
    top : 10px;
    left : 510px;
}

div#attachTable {
	border-bottom: 1px dashed #000066;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
div#attachTable td {
	vertical-align: middle;
}
div#attachTable .col1 {
	width: 175px;
}
div#attachTable input {
    width: 200px;
}

div#attachTable input.button {
	width: 100px;
	margin-left: 20px;	
}
	
#bvsTable th#number {
	width: 175px;
}
#bvsTable th#date {
	width: 100px;
}
#bvsTable th#place {
	width: 200px;	
}

#bvsTable th#plate {
	width: 100px;	
}

 /*************************************************************
 * AVS
 *************************************************************/
div#avsTable th#number {
	width: 100px;
}
div#avsTable .customernumber {
	overflow: hidden;
	width: 100px;
}
div#avsTable th#date {
	width: 100px;	
}
div#avsTable .text {
	overflow: hidden;
	width: 250px;
}
div#avsTable .statusname {
	width: 300px;
}
div#avsTable .freetexta {
	display: none;
}

/*************************************************************
 * listItemDetails
 *************************************************************/
#itemDetailTable .col2 {
	width: 400px; 
}

/*****************************************************
 * informatiebrief
 *****************************************************/

/* - */

/*************************************************************
 * lees meer
 *************************************************************/

/* - */

/*************************************************************
 * contactinformatie en nieuwsbrief
 *************************************************************/

/* - */

/*************************************************************
 * listCustomers
 *************************************************************/

/* nvt voor burger */

/*************************************************************
 * customerDetails
 *************************************************************/

/* nvt voor burger */

/*************************************************************
 * Profiel: gegevens en voorkeuren
 *************************************************************/

/* - */

/*************************************************************
 * Overig
 *************************************************************/

tr.odd {
    background: white;
}

/*****************************************************
 Foutmelding
 *****************************************************/

/* - */

/*****************************************************
 Footer
 *****************************************************/

/* - */

