/*************************************************************
 * BOUW
 *************************************************************/
.pageHeader {
	margin-top: 15px;
}
.headerStripe {
	border-bottom: 10px solid @brand-primary;
	margin-left: 66px;
	margin-top: -10px;
}
.main-content {
	.content-area {
		line-height: 1.2em;
		min-height: 200px !important;
		@media(min-width: @screen-md-min) {
			min-height: 500px !important;
			line-height: 1.6em;
		}
		h1 {
			font-size: @font-size-h1 * 0.75;
			@media(min-width: @screen-md-min) {
				font-size: @font-size-h1;
			}
		}
		h2 {
			font-size: @font-size-h2 * 0.75;
			@media(min-width: @screen-md-min) {
				font-size: @font-size-h2;
			}
		}
		h3 {
			font-size: @font-size-h3 * 0.75;
			@media(min-width: @screen-md-min) {
				font-size: @font-size-h3;
			}
		}
	}
}
//breadcrumb
.breadcrumb-row {
	@media(max-width: @screen-xs) {
		display: none;
	}
}
