/*************************************************************
 * Cookies
 *************************************************************/
.cookiebar{
	text-align: left;
	background-color: @theme-signal-color;
	padding: 15px;
}
