/*************************************************************
 * colours
 *************************************************************/
 .fg-danger {color: @brand-danger;}
 .fg-primary {color: @brand-primary;}
 .bg-info-forced {.bg-info !important;}
 .bg-signal { background-color: @bg-signal-color;}
 .bg-brand { background-color: @bg-brand-color;}
/*************************************************************
 * general
 *************************************************************/
.page-header {
	margin-top: @line-height-computed;
}
table {border-collapse: collapse;}
table.fixed {table-layout: fixed;}
table.emptyRow td{padding-bottom: 1em;}
caption {
	text-align: left;
	color: #FFFFFF;
}
caption {
	margin-left: 1px;
	margin-right: 1px;
}
td {vertical-align: top;}
.center {text-align: center;}
.right {text-align: right;}
.float_left {float: left;}
.float_right {float: right;}
.clear {clear: both; font-size: 0; line-height: 0; min-height: 0; height: auto !important; height: 0;}
.smaller {font-size: smaller;}
.marginTop {margin-top: 1em;}
.marginLeftRight{margin-left: 15px; margin-right: 15px;}
.marginBottom {margin-bottom: 1em;}
.marginTopBottom {margin-top: 1em; margin-bottom: 1em;}
.noPaddingTop {padding-top: 0 !important;}
.fullPadding {padding: 15px;}
.hidden {display: none;}
.pointer {cursor: pointer;}
.default {cursor: default;}
.under {text-decoration:underline;}
.raquo {color: #866f3c;}

a:hover .raquo {color: red;}
img.float_left {
	margin: 0 10px 0 0;
	padding-top: 3px;
}
img.float_right {
	margin: 0 0 0 10px;
	padding-top: 3px;
}
.ietje {
	.fa;
	&:before{
		content: @fa-var-info-circle;
	}
	.text-emphasis-variant(@state-info-text);
	cursor: help;
}
.helphover{cursor: help;}

.margin-leftright-negative {margin-left: -15px; margin-right: -15px;}

/*************************************************************
 * utils
 *************************************************************/
.hide-screen-sm-min {
	@media(min-width: @screen-sm-min) {
		display: none;
	}
}

/*************************************************************
 * meldingen
 *************************************************************/
#messageBlock {
	font-weight: bold;
	.message {background: url("../images/blue-gradient-hor.png") repeat-y;}
	.error{
		background: url("../images/red-gradient-hor.png") repeat-y;
		color: white;
	}
}
.alert {
	border: 1px solid red;
	padding: 5px;
	margin-top: 10px;
}
.popupMsg {
	position: absolute;
	z-index: 20;
	border: 2px solid @brand-primary;
	background: white;
	width: 420px;
	min-height: 100px;
	height: auto !important;
	_height: 100px;
	top: 220px;
	left: 142px;
	.panel-headings {background-color: @theme-signal-color;}
	.panel-body {padding-bottom: 0;}
}
/**********************************************
.popupMsgHeader {
	height: 22px;
	background-color: #004380;
	padding: 0 4px;
}
.popupMsgTitle {
	font-weight: bold;
	color: #FFF;
	line-height: 20px;
	float: left;
}
.popupMsgContent {
	padding: 1em;
}

******************************************/

div#close, div.close {
	float: right;
	width: 16px;
	height: 16px;
	display: block;
	background: url("../images/close.png");
	cursor: pointer;
	margin-top: 3px;
}

/*************************************************************
 * menu
 *************************************************************/
/*************************************************************
 * SERVICES ALGEMEEN
 *************************************************************/
/**********************************************************************
 * MIO
/**********************************************************************/
.mioAlert {
	@media(min-width: @screen-sm-min) {
		background: transparent url('../images/double_exclamation_mark_red.png') no-repeat right top;
	}
}
.mioForeignIBANAlert {
	@media(min-width: @screen-sm-min) {
		background: transparent url('../images/exclamation_mark_orange.png') no-repeat right top;
	}
}
.mioOk {
	@media(min-width: @screen-sm-min) {
		background: transparent url('../images/tick_green.png') no-repeat right top;
	}
}
.mioBlank {background: none;}

/**********************************************************************
 * Formulieren
/**********************************************************************/
.panel-forms {
	.forms-gradient;
	.panel-variant(@panel-forms-border; @panel-forms-text; @panel-forms-heading-bg; @panel-forms-border);
	.panel-heading {
		font-size: @font-size-h4;
	}
	.panel-body, .panel-footer {
		padding: 0;
	}
	.panel-header {
		background-color: @formrow-header-bg;
	}
	td:first-child, th:first-child {
		padding-left: 15px;
	}
	td:last-child, th:last-child {
		padding-right: 15px;
	}
}
/**********************************************************************
 * linkList-hor
/**********************************************************************/
.linkList-hor {
	list-style: none;
	padding:0;

	> li {
		display: inline-block;

		+ li:before {
			content: "@{linklist-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
			padding: 0 5px;
			color: @theme-signal-color;
			font-weight: bold;
		}
	}
}
/**********************************************************************
 * btn-signal
/**********************************************************************/
.btn-signal {
	.button-variant(@btn-signal-color; @btn-signal-bg; @btn-signal-border);
}
/**********************************************************************
 * radio-inline
/**********************************************************************/
.radio-inline {
	input[type="radio"], input[type="checkbox"] { margin-top: 2px;}
}