#dialog .validation-advice {
	color: red;
	font-weight: bold;
	padding-bottom: 3px;
}

#dialog .validation-failed {border: 1px solid red;}

.mandatory {
	&:before{
		content: "*";
	}
	.text-emphasis-variant(@state-info-text);
}

.errortext {
	font-size: 1.0em;
	font-weight: bold;
	font-style: normal;
	color: red;
}


/*************************************************************
 * flowcontainer eforms
 *************************************************************/

#flowcontainer {margin-top: 15px;}
.flowcontainer .label {
	display: inline-block;
	background-color: grey;
}
.flowcontainer .label.current {background-color: @theme-signal-color;}


/*************************************************************
 * formrow in panel
 *************************************************************/
//  #dialog .panel-forms div.formrow {
// 	border: none;
// 	border-top: 1px solid @formrow-border;
// }

form#dialog {
	.form-horizontal;
}
form#dialog .form-group {
	margin: 0;
}

.formrow {
	.form-group;
	input, select, textarea {
		.form-control;
	}
}

form#dialog .formrow:after {
	clear: both;
}
form#dialog .formrow:before, form#dialog .formrow:after {
	content: " ";
	display: table;
}
.dialogquestion {
	.make-sm-column(4);
}
.dialoganswer {
	.make-sm-column(8);
}
.panel-forms .form-group, .panel-forms .formrow {
	margin: 0;
	padding: 10px 0;
	border-top: 1px solid @formrow-border;
}
.panel-forms .form-group:first-child{
	border: none;
}


.panel-forms .form-group {
	margin: 0;
	padding: 10px 0;
	border-top: 1px solid @formrow-border;
}
.panel-forms .form-group:first-child {
	border: none;
}
