.mandatory {
	&:before{
		content: "*";
	}
	.text-emphasis-variant(@state-info-text);
}

.errortext {
	font-size: 1.0em;
	font-weight: bold;
	font-style: normal;
	color: @state-danger-text;
}

.grayed {
	color: gray;
	font-size: smaller;
}

/*************************************************************
 * flowcontainer eforms
 *************************************************************/
.flowcontainer {
	margin-top: 15px;
	.label {
		display: inline-block;
		background-color: grey;
	}
	.label.current {background-color: @theme-signal-color;}
}

/*************************************************************
 * formrow in panel
 *************************************************************/
label {
	font-size: 13px;
}

.form-horizontal .control-label {
	text-align: left;
}

.formrow {
	.form-group;
	input, select, textarea {
		.form-control;
	}
}

#dialog {
	.form-horizontal;
	.form-group {
		margin: 0;
	}
	.formrow:after {
		clear: both;
	}
	.formrow:before, .formrow:after {
		content: " ";
		display: table;
	}
	.validation-advice {
		color: red;
		font-weight: bold;
		padding-bottom: 3px;
	}
	.validation-failed {
		border: 1px solid red;
	}
	.control-label {
		text-align: left;
	}

}

.dialogquestion {
	.make-sm-column(4);
}
.dialoganswer {
	.make-sm-column(8);
}

.panel-forms {
	.form-group, .formrow {
		margin: 0;
		padding: 10px 0;
		border-top: 1px solid @formrow-border;
	}
	.form-group:first-child{
		border: none;
	}
	.form-group {
		margin: 0;
		padding: 10px 0;
		border-top: 1px solid @formrow-border;
	}
	.form-group:first-child {
		border: none;
	}
}
