@fa-font-path: "../fonts";

@brand-primary: rgb(0, 0, 153);
@brand-signal: rgb(255, 204, 0); //yellow

@btn-signal-bg: @brand-signal;
@btn-signal-color: @btn-primary-color;
@btn-signal-border: darken(@btn-signal-bg, 5%);

@bg-signal-color: lighten(@brand-signal, 30%); //lightyellow
@bg-brand-color: lighten(@brand-primary, 65%); //lightblue

// Unicode greater-than
@breadcrumb-separator: "\003E";
// Unicode colon
@linklist-separator: "\003A";
@formrow-border: @panel-default-border;
@formrow-bg-color: lighten(@panel-default-border, 6%);
@formrow-header-bg: @formrow-bg-color;

@panel-forms-border: @panel-default-border;
@panel-forms-text: @panel-default-text;
@panel-forms-heading-bg: @panel-default-heading-bg;
@panel-forms-border: @panel-default-border;

//Page header
@page-header-border-color: lighten(@brand-signal, 35%);

// @padding-base-vertical:     3px;
// @padding-base-horizontal:   6px;

// @padding-large-vertical:    5px;
// @padding-large-horizontal:  8px;

// @padding-small-vertical:    3px;
// @padding-small-horizontal:  5px;
