<html>
<head>
<style type="text/css">$css</style>
</head>
<body>
<div id="header">
<h1>Melding</h1>
Internetoplichting
</div> <!-- header -->
<div id="main">
<div id="content">
Geachte heer, mevrouw,
<p>Betreft: Risicoprofiel alert</p>
<p>Het profielkenmerk staat in het onderwerp.</p>
<p>Mvg,</p>
<p>Het Landelijk Meldpunt Internetoplichting van de politie</p>
</div> <!-- content -->
<div id="footer">
<img src="cid:politie">
</div> <!-- footer -->
</div> <!-- main -->
</body>
</html>