UW AANGIFTE

Ontvangstbevestiging

Geachte mevrouw, heer,

Uw melding met nummer ($formnumber) is door ons goed ontvangen.
Indien u de melding wilt inzien, aanvullen of intrekken, dan kunt u de melding met de volgende link openen : $hashLink 
Antwoorden op vragen over de voortgang/status van uw aangifte kunt u vinden onder de link informatie (hieronder te openen en te lezen). Mails over de voortang/status van uw aangifte zullen NIET worden beantwoord. Zodra er informatie is over de aangifte wordt u via de mail door ons geinformeerd. Op andere wijze kunnen wij vanwege personele bezetting geen vragen beantwoorden. 

Onderstaand treft u enkele links naar relevante informatie : 
Voor meer informatie over uw aangifte : https://www.mijnpolitie.nl/mio/Info_aangifte_internetoplichting.pdf

De Nationale Politie, het Openbaar Ministerie en de Banken zijn met ingang van 1 oktober 2014 een samenwerkingsovereenkomst aangegaan. Dit betekent dat de bank voortaan via het Landelijk Meldpunt Internet Oplichting (LMIO) informatie ontvangt van bankrekeningen die op enerlei wijze frauduleus worden gebruikt.  U behoeft daarom zelf geen melding meer te doen bij de bank. 

Wij hopen u van dienst te zijn,

Met vriendelijke groet,
Politie Kennemerland

Deze mail is automatisch aangemaakt.

Meer informatie : https://www.mijnpolitie.nl/mio/Info_aangifte_internetoplichting.pdf

=============================DISCLAIMER============================

De informatie verzonden met dit emailbericht is uitsluitend 
bestemd voor de geadresseerde. Indien dit emailbericht niet aan
u is gericht, dan wel abusievelijk aan u verstuurd is, verzoeken
wij u het emailbericht te retourneren aan de verzender en het
origineel en eventuele kopieen te verwijderen en te vernietigen.
Gebruik van deze informatie door anderen dan de geadresseerde, 
openbaarmaking, vermenigvuldiging, verspreiding en/of verstrekking
van deze informatie aan derden is niet toegestaan zonder goedkeuring
van de afzender en valt buiten de verantwoordelijkheid en 
aansprakelijkheid van het Landelijk Meldpunt Internetoplichting (LMIO). Het LMIO acht zich niet gebonden aan contracten of 
bestellingen die middels een emailbericht zijn verzonden. 
