Geachte heer, mevrouw, 

Betreft: intrekking aangifte van internetoplichting $formnumber
De politie heeft op $date een aangifte van mogelijke internetoplichting
ontvangen, waarbij uw e-mailadres werd genoemd. Wij sturen u hierbij een automatisch gegenereerde email waarin u van de intrekking van deze aangifte op de hoogte wordt gesteld. Het emailadres van de aangever is: $emailReporter.

Met vriendelijke groet,
Het Landelijk Meldpunt InternetOplichting van de politie 
E-mail : meldpuntinternetfraude@kennemerland.politie.nl,
