<html>
<head>
<style type="text/css">$css</style>
</head>
<body>
<div id="header">
<h1>Melding</h1>
Internetoplichting
</div> <!-- header -->
<div id="main">
<div id="content">
Geachte heer, mevrouw,
<p>U heeft uw aangifte Internetoplichting met nummer $formnumber ingetrokken.<br/>
U heeft als reden opgegeven: $reason.</p>
<p>Met vriendelijke groet,<br/>
Landelijk Meldpunt Internetoplichting</p>
</div> <!-- content -->
<div id="footer">
<img src="cid:politie">
</div> <!-- footer -->
</div> <!-- main -->
</body>
</html>